/*Styles for Front-End-Dev html File*/

/**************General Page Styling****************/

body{
	background-color: #F2F2F2;
	color: #1F1327;
	font-family: 'Open Sans', 'Roboto', 'Arial';
	width: 90%;
	margin: 1rem auto;
}

a:link,
a:visited,
a:active{
	color:#896A9E;
	text-decoration: none;
}

a:hover{
	color:#4F2770;
}

h2, h3{
	color: #4F2770;
}

img {
	border: 1px solid #A487B6;
	border-radius: 3px;
}

/****************Navigation**************/
nav{
	/*border: 1px solid purple;*/
	margin: 1rem auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;	
}

nav ul{
	/*border: 1px solid pink;*/
	list-style-type: none;
	margin:0;
	padding:0;
}

nav li{
	display: inline-block;
	/*border: 1px solid blue;*/
	text-align: center;
	font-size: 1rem;
	flex-basis:10%;
}

nav a{
	display: block;
	color: #A487B6;
	text-decoration: none;
	padding: 0.5rem 1.25rem;
}

nav ul a:hover{
	color: #1F1327;
	font-weight: bold;
	/*background-color:;
	border: 1px solid #1F1327;*/
}

/*************Main Page Styling****************/

header {
	background-color: #4F2770;
	color: #F2F2F2;
	text-align: center;
	padding: 1rem 0.5rem 2.3rem 0.5rem;
}

header p {
	width: 70%;
	margin: 0 auto;
	line-height: 2rem;
}

section{
	/*border: 1px solid green;*/
	margin: 1rem auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

article{
	/*border: 1px solid red;*/
	margin: 1.5rem 1rem 1rem 0;
	/*width: 70%;
	float: left;*/
	flex-basis: 70%;
}

article ol,
article ul{
	background-color: #A487B6;
	color: #F2F2F2;
	width: 50%;
	padding: 2rem 3rem ;
	margin: 1rem 0;
	border-radius: 2px;
}

article li{
	margin-bottom: 0.5rem;
}

form{
	background-color: #A487B6;
	color: #F2F2F2;
	width: 70%;
	padding: 2rem 3rem ;
	margin: 1rem 0;
	border-radius: 2px;
}

fieldset{
	border: 1px solid #4F2770 ;
	padding: 0rem 1rem 2rem 1rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
}
legend{
	color: #4F2770;
	font-size: 1.5rem;
	font-weight: bold;
	padding: 0.5rem;
}

label{
	display: block;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}

textarea{
	height: 10rem;
	padding: 1rem;
}

input:not([type="radio"]):not([type="checkbox"]),
textarea, select{
	width: 20rem;
	margin-bottom: 1rem;
	display: block;
	font-size: 1rem;
	padding: 0 1rem;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 5px;
	border: 0.5px solid #4F2770;
}

p, [for="webtype"]{
	margin-top: 2rem;
	margin-bottom: 0rem;

}

textarea{
	padding: 1rem;
}
aside{
	/*float: right;*/
	margin: 1.5rem 0rem 0rem 1rem;
	/*width: 10rem;*/
	font-size: 0.9rem;
	padding: 0 0.5rem 0.5rem 1rem;
	/*border: 1px solid blue;*/
	flex-basis: 15%;
}


aside img{
	height: 10rem;
}

aside blockquote{
	background-color: #4F2770;
	color: #F2F2F2;
	width: 90%;
	margin: 0 auto;
	border-radius: 4px;
	padding: 1rem;
}

.aside-content{
	margin-bottom: 3rem;
}

button{
	background-color: #4F2770;
	color: #fcfcfc;
	border: none;
	border-radius: 1px;
	padding: 1rem;
	margin-top: 2rem;
	text-align: center;
	font-size: 0.9rem;
	cursor: pointer;
}

button:hover{
	color: #4F2770;
	background-color: #fcfcfc;
}

/**************Footer Styling******************/

footer{
	margin-top: 4rem;
	margin-bottom: 0;
	/*border: 1px solid purple;*/
}

footer p{
	padding: 1rem;
	margin: 0;
	margin-top: 4rem;
	text-align: center;
	font-size: 0.9rem;
	background-color: #4F2770;
	color: #fcfcfc;
}
